.headerPopularOrders{
    width: 85%;
    max-width: 1250px;
    font-family: 'Montserrat-Medium';
    text-align: start;
    letter-spacing: .8px;
    display: flex;
    align-items: center;
}
.headerPopularOrders span{
    position: absolute; 
    opacity: 0.3
}
.popularOrdersContainer{
    width: 90%;
    max-width: 1250px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .popularOrdersContainer{
        justify-content: space-around;
    }
}

@media screen and (max-width: 920px) {
    .popularOrdersContainer{
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 500px) {
    .popularOrdersContainer{
        width: 95%;
    }
}