.catalogHeader{
    width: 93%;
    max-width: 1250px;
    text-align: start;
    font-family: 'Montserrat-Bold';
    color: #4A5241;
}
.catalogContainer{
    width: 95%;
    max-width: 1250px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .catalogContainer{
        justify-content: space-around;
    }
}

@media screen and (max-width: 920px) {
    .catalogContainer{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    .catalogContainer{
        justify-content: center;
    }
}