.cartContainer{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.carouselContainer{
    width: 250px;
    height: 230px;
    border-radius: 5px;
    margin: 10px 0;
}
.carouselContainer .imageAntd{
    width: 100% ;
    height: 230px ;
}
.cartContainer header{
    font-family: 'Montserrat-Medium';
    font-size: 14.5pt;
    font-weight: 400;
    letter-spacing: .7px;
    color: #4A5241;
    margin-bottom: 5px;
    text-align: center;
}
.cartContainer span{
    font-family: 'Montserrat-Bold';
    font-size: 12pt;
    letter-spacing: .5px;
    color: #495242;
}

@media screen and (max-width: 625px) {
    .cartContainer{
        width: 190px;
        margin: 5px;
    }
    .carouselContainer{
        width: 190px;
        height: 170px;
    }
    .carouselContainer .imageAntd{
        height: 170px !important;
    }
    .cartContainer header{
        font-size: 11pt;
    }
    .cartContainer span{
        font-size: 9pt;
    }
}

@media screen and (max-width: 450px) {
    .cartContainer{
        width: 180px;
        margin: 5px;
    }
    .carouselContainer{
        width: 180px;
        height: 160px;
    }
    .carouselContainer .imageAntd{
        height: 160px !important;
    }
    .cartContainer header{
        font-size: 10pt;
    }
    .cartContainer span{
        font-size: 8pt;
    }
}