footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4A5241;
}
footer .mainFooterField{
    width: 100%;
    max-width: 1250px;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin-top: 20px;
}
.mainFooterField .logo2{
    width: 260px;
    height: 120px;
    object-fit: contain;
}
.mainFooterField .footerInfo{
    width: 700px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerInfo .list{
    flex: 1;
}
.list h5{
    width: 80%;
    font-family: 'Montserrat-Light';
    font-size: 9pt;
    text-align: start;
    color: #B7BCAF;
}
.list li{
    font-family: 'Montserrat-Regular';
    font-size: 11pt;
    list-style: none;
    color: #E8DCCE;
    margin: 4.5px 0;
}
.footerNavLink{
    color: #E8DCCE;
    text-decoration: none;
    transition: all .2s ease-in;
}
.list .footerNavLink:hover{
    color: #fcfcfc;
}