.questionsContainer{
    width: 90%;
    max-width: 1130px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px 0;
}
.questionsContainer .svgQuestions{
    position: absolute;
    margin: 75px 0 0 30px;
    opacity: 0.5;
    z-index: 2;
}
.questionsContainer h3{
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    margin-right: 150px;
}
.questionsContainer .questionsCollapse{
    flex: 1;
}
@media screen and (max-width: 920px) {
    .questionsContainer h3{
        margin-right: 50px;
    }
}
@media screen and (max-width: 750px) {
    .questionsContainer {
        flex-direction: column;
    }
    .questionsContainer .svgQuestions{
        margin-top: 50px;
        right: 30px;
    }
}