@import url('../../Fonts/fonts.css');
.upNavContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 0 0;
    top: 0;
    background-color: #E8DCCE;
    z-index: 1000;
}
.upNavContainer .fillUpNav{
    width: 95%;
    max-width: 1250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.fillUpNav .logo{
    width: 130px;
    height: 90px;
    margin-right: 50px;
}
.fillUpNav .navField{
    flex: 1;
    font-family: "Montserrat-Medium";
}
.navField .hamburger{
    display: none;
    align-items: center;
    font-size: 17pt;
    cursor: pointer;
}
.navField .menu{
    width: 100%;
    background: transparent;
    font-family: 'Montserrat-Medium' !important
}
.menuInline{
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: all .8s ease-in-out;
}
.open{
    max-height: 400px;
}
.displayNone{
    display: none
}
.navField .navLink{
    color: #4A5241;
    margin: 0 5px;
    text-decoration: none;
    transition: all .3s ease-in;
}
.navField .navLink:hover{
    color: rgba(28, 28, 225, 0.817);
}
.navField .navLink::after{
    content: '';
    border-right: 1.5px solid grey;
    margin-left: 8px;
}
.active{
    color: #1677ff !important
}
.active::after{
    content: '';
    border-bottom-width: 2px !important;
    border-bottom-color: #1677ff !important;
}

@media screen and (max-width: 710px) {
    .fillUpNav .logo{
        margin-right: 25px;
    }
}
@media screen and (max-width: 630px) {
    .upNavContainer .fillUpNav{
        width: 75%;
        justify-content: space-between;
    }
    .fillUpNav .navField{
        flex: 0;
    }
    .menuHorizontal{
        display: none !important;
    }
    .menuInline{
        display: block;
        background: #E8DCCE;
        border-top: 1.5px solid black;
    }
    .navField .hamburger{
        display: flex !important;
    }
}
@media screen and (max-width: 550px) {
    .fillUpNav .logo{
        margin-right: 5px;
    }
}